
<html><head><style type="text/css">.turbolinks-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}</style>
    
    
  <body>
    <% if @book.errors.any? %>
  <%= @book.errors.count %>件のerrorが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
    
    <h1>Editing Book</h1>
  <%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
<p>
  <strong>Title:</strong>
</p>
  <%= f.text_field :title %>
<p>
  <strong>Body:</strong>
</p>
  <%= f.text_area :body %>
  
  <%= f.submit 'Update Book' %>
  
<% end %>
<td><%= link_to "Show", "/books/#{@book.id}" %></td>
<td><%= link_to "Back", books_path %></td>

</body></html>